<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <runtime>
    <gcConcurrent enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="pastaEntrada" value="C:\Scanner\CapturaOCR" />
    <add key="pastaEntradaTemp" value="C:\Scanner\CapturaOCR\pastaEntradaTemp" />
    <add key="PastaDestinoRaiz" value="C:\Scanner\CapturaOCR\Temp" />
    <add key="PastaDestinoTemp" value="C:\Scanner\CapturaOCR\PastaDestinoTemp" />
    <add key="PastaDestino" value="C:\Scanner" />
    <add key="PastaDestinoNAOMAPEADO" value="C:\Scanner\Outros" />
    <add key="PastaDestinoLog" value="C:\Scanner\CapturaOCR\Log" />
  
  </appSettings>
 
</configuration>